<?xml version="1.0"?>
<model>
  <name>camaron</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Alberto Castro</name>
    <email>tu_email@dominio.com</email>
  </author>
  <description>
    Modelo assembly de camaron y sus componentes principales, incluyendo el frame GEPRC Mk4 7in y los brazos.
  </description>
</model>
