<?xml version="1.0"?>
<model>
  <name>dron_assembly_2</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Alberto Castro</name>
    <email>tu_email@dominio.com</email>
  </author>
  <description>
    Modelo assembly de dron_proto_2 y 7in_3blade
  </description>
</model>
