<?xml version='1.0'?>
<model>
  <name>KIA_Warehouse</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
    <name>Alberto Castro</name>
    <email>alberto.castrovillasana@gmail.com</email>
  </author>

  <author>
    <name>Mario Hurtado</name>
    <email>mario.hurtado@gmail.com</email>
  </author>

  <description>
    KIA Warehouse model for Air Hive simulation in Gazebo.
  </description>
</model>

