<?xml version="1.0"?>
<model>
  <name>gimbal_proto</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Alberto Castro</name>
    <email>tu_email@dominio.com</email>
  </author>
  <description>
    Modelo básico del gimbal proto generado desde URDF.
  </description>
</model>
