<?xml version="1.0"?>
<model>
  <name>textured_floor</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Tu Nombre</name>
    <email>tu.email@dominio.com</email>
  </author>
  <description>
    Modelo de un suelo texturizado utilizado en la simulación de drones.
  </description>
</model>
